@model S2IT.LocadoraGames.Application.ViewModels.JogoViewModel

@{
    ViewData["Title"] = "Detalhes";
}


<div class="panel panel-primary">
    <div class="panel-heading">@ViewData["Title"]</div>
    <div class="panel-body">
        <div>
            @Html.LabelFor(model => model.Titulo)
            @Html.DisplayFor(model => model.Titulo)
        </div>
        <div>
            @Html.LabelFor(model => model.DataEmprestimo)
            @Html.DisplayFor(model => model.DataEmprestimo)
        </div>
    </div>
</div>

